td {
  width: 100px;
  height: 100px;
  border: 1px dashed black;
  text-align: center;
  font-size: 60px;
}
table{
  margin: auto;
}
.out {
  text-align: right;
  float: right;
  color: pink;
  font-size: 100px;
}

#new2 {
  margin: 24px;
  font-size: 30px;
}

#new1 {
  font-size: 15px;
}

div {
  text-align: center;
}
